.favoritesContainer {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    text-align: center;
    background-color:rgb(254, 155, 188);
    border-radius: 12px;
    box-shadow: 0px 4px 10px rgba(153, 40, 40, 0.3);
   
  }
  
  .noFavorites {
    font-size: 1.2em;
    color: #777;
    font-family: "Arial", Arial, Helvetica, sans-serif;  }
  
  .favoritesList {
    list-style: none;
    padding: 0;

  }
  
  .favoriteItem {
    background: #f4f4f4;
    margin: 10px 0;
    padding: 15px;
    border-radius: 10px;
    transition: 0.3s;
    text-align: center;
    color: white;
  }
  
  .favoriteItem:hover {
    background: #d098c0;
  }
  
  .favoriteLink {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    color: #333;
    font-weight: bold;
  }
  
  .favoriteName {
    flex-grow: 1;
    text-align: left;
    margin-left: 10px;
  }
  
  .favoritePrice {
    color: green;
    font-weight: bold;
  } 
  